:root{
    --interface-up-color: #2b5271;
    --interface-down-color: #1c141e;
}
body{
    margin: 0;
    background: #354b48;
}
h1{
    color: #f5f00c;;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
header{
    display: flex;
    height: 6.5vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #19141a
}
.game{
    margin-top: 0.5vh;
    height: 84.5vh;
    display: grid;
    /*width: clamp(430px, 50%, 800px);*/
    grid-template-columns: 14vh max-content 15vh;
    grid-template-rows: repeat(5, 17vh);
}
.hold{
    display: flex;
    flex-direction: column;
    grid-row: span 3;
    background-image: url(./icons/marco.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: var(--interface-up-color);
}
.hold-canvas{
    padding: 12%;
    height: auto;
}
.interface-advice{
    display: flex;
    padding: 0.5em;
    font-size: 2.7vmin;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.interface-advice p{
    text-align: center;
    font-size: smaller;
    color: #f5f00c;
    margin: 0.5em;
}
.canvas-container{
    display: flex;
    height: 100%;
    max-height: 85vh;
    grid-row: span 5;
    background: #121111;
}
#Tetris{
    margin: 1.5vh;
}
.shapes-stack{
    grid-row: span 3;
    background-color: var(--interface-up-color);
}
.shapes-stack canvas{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 1.7vh;
    background-image: url(./icons/marco.png), url(./icons/marco.png), url(./icons/marco.png);
    background-position: top, bottom, center;
    background-size: 100%;
    background-color: cadetblue;
    background-repeat: no-repeat;
}
.low-background{
    grid-row: span 2;
    background-color: var(--interface-down-color);
}
footer{
    height: 8.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2e2241;
}
a p{
    color: #ffa6f7;
    text-decoration: none;
}
.controls{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6.5vh;
    width: 84%;
    height: 85vh;
    background: #232727f2;
}
.controls h1{
    color: white;
    text-align: center;
    font-size: 7.5vh;
    margin: 1vh;
    height: 10vh;
}
.controls h3{
    color: #f5f00c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 7vh;
}
.menu-container{
    display: flex;
    height: 66vh;
}
.menu-section{
    display: grid;
    grid-template-rows: repeat(7,1fr);
    grid-gap: 1.5vh;
    height: 66vh;
}
.actions{
    width: 33%;
    justify-content: end;
}
.sprites{
    width: 66%;
}
.action,.control{
    flex: 1;
}
.action p {
    display: flex;
    align-items: center;
    color: white;
    font-size: x-large;
    margin: 0;
}
.menu-section div{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
/*.menu-section > div:nth-child(even){
    background: #d4b7ef2e;
}*/
#move-control-img{
    height: 300%;
    animation: moveSprite-Animation 2s steps(1) infinite;
}
.two-frames-sprite{
    height: 200%;
    animation: downSprite-Animation 1.5s steps(1) infinite;
}
@keyframes moveSprite-Animation{
    0%{
        transform: translate3d(0,0px,0);
    }
    25%{
        transform: translate3d(0,-33.33%,0);
    }
    50%{
        transform: translate3d(0,-66.66%,0);
    }
    75%{
        transform: translate3d(0,-33.33%,0);
    }
}
@keyframes downSprite-Animation{
    0%{
        transform: translate3d(0,0px,0);
    }
    50%{
        transform: translate3d(0,-50%,0);
    }
}
a{
    display: flex;
}