:root{
    --interface-up-color: #2b5271;
    --interface-down-color: #1c141e;
}
body{
    margin: 0;
    background: #354b48;
}
h1{
    color: #f5f00c;;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
header{
    display: flex;
    height: 6.5vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #19141a
}
.game{
    margin-top: 0.5vh;
    height: 84.5vh;
    display: grid;
    /*width: clamp(430px, 50%, 800px);*/
    grid-template-columns: 14vh max-content 15vh;
    grid-template-rows: repeat(5, 17vh);
}
.hold{
    display: flex;
    flex-direction: column;
    grid-row: span 3;
    background-image: url(./icons/marco.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: var(--interface-up-color);
}
.hold-canvas{
    padding: 12%;
    height: auto;
}
.interface-advice{
    display: flex;
    padding: 0.5em;
    font-size: 2.7vmin;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.interface-advice p{
    text-align: center;
    color: #d4b7ef;
    font-weight: 900;
    margin: 0.5em;
}
.canvas-container{
    display: flex;
    height: 100%;
    max-height: 85vh;
    grid-row: span 5;
    background: #121111;
}
#Tetris{
    margin: 1.5vh;
}
.shapes-stack{
    grid-row: span 3;
    background-color: var(--interface-up-color);
}
.shapes-stack canvas{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 1.7vh;
    background-image: url(./icons/marco.png), url(./icons/marco.png), url(./icons/marco.png);
    background-position: top, bottom, center;
    background-size: 100%;
    background-color: cadetblue;
    background-repeat: no-repeat;
}
.low-background{
    grid-row: span 2;
    background-color: var(--interface-down-color);
}
footer{
    height: 8.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffa6f7;
    background: #2e2241;
}
.controls{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6.5vh;
    width: 84%;
    height: 85vh;
    background: #232727f2;
}
.controls h1{
    color: white;
    text-align: center;
    font-size: 2.7em;
    margin: 3vh;
}
.controls h3{
    color: #f5f00c;
    text-align: center;
}
.menu-container{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    height: 100%;
}
.menu-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    border: 0.1vw white solid;
}
.menu-section h2{
    margin: 2vh 0;
    text-align: center;
    color: white;
}
.action,.control{
    flex: 1;
}
.menu-section > div:nth-child(even){
    display: flex;
    justify-content: center;
    width: 100%;
    background: #d4b7ef2e;
}